homeassistant:
  # Name of the location where Home Assistant is running
  name: Fossum HomeAssist
  # Location required to calculate the time the sun rises and sets
  latitude: !secret latitude
  longitude: !secret longitude
  # Impacts weather/sunrise data (altitude above sea level in meters)
  elevation: !secret elevation
  # metric for Metric, imperial for Imperial
  unit_system: metric
  # Pick yours from here: http://en.wikipedia.org/wiki/List_of_tz_database_time_zones
  time_zone: Europe/Oslo

  customize: !include_dir_merge_named customize/

# Show links to resources in log and frontend
#introduction:

# Enables the frontend
frontend: !include config_files/frontend.yaml

# Enables configuration UI
config:

http: !include config_files/http.yaml

# Checks for available updates
# Note: This component will send some information about your system to
# the developers to assist with development of Home Assistant.
# For more information, please see:
# https://home-assistant.io/blog/2016/10/25/explaining-the-updater/
updater:
  # Optional, allows Home Assistant developers to focus on popular components.
  # include_used_components: true

# Discover some devices automatically
discovery:

# Allows you to issue voice commands from the frontend in enabled browsers
#conversation:

# Enables support for tracking state changes over time
history:

# View all events in a logbook
logbook:

# Recorder settings for persistent storage
recorder: !include config_files/recorder.yaml

# Logger stup
logger: !include config_files/logger.yaml

# Track the sun
sun:

# Weather prediction
# sensor:
#   - platform: yr

# Text to speech
#tts:
#  - platform: google

group: !include_dir_merge_named groups/
automation: !include_dir_merge_list automation/

# JAF Manual entries

ios:

netatmo: !include config_files/netatmo.yaml

verisure: !include config_files/verisure.yaml

sensor: !include_dir_merge_list sensor/

device_tracker: !include config_files/device_tracker.yaml

zwave: !include config_files/zwave.yaml

input_boolean: !include config_files/input_boolean.yaml

input_number: !include config_files/input_number.yaml

tradfri: !include config_files/tradfri.yaml

history_graph: !include config_files/history_graph.yaml

tesla: !include config_files/tesla.yaml

weather: !include config_files/weather.yaml

nest: !include config_files/nest.yaml

volkswagen_carnet: !include config_files/volkswagen_carnet.yaml
